 .team-sec{
    background-image: url('../images/team.png');
    background-color:  rgba(18, 18, 18, 0.70);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
}

/* #slide4{
    background-image: url('../images/banner4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:rgba(18, 18, 18, 0.70); 
    background-blend-mode: darken;
}

#slide3{
    background-image: url('../images/banner3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:rgba(18, 18, 18, 0.70); 
    background-blend-mode: darken;

}

#slide2{
    background-image: url('../images/banner2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:rgba(18, 18, 18, 0.70); 
    background-blend-mode: darken;
    b
}

#slide1{
    background-image: url('../images/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:rgba(18, 18, 18, 0.70); 
    background-blend-mode: darken;
} */